---
import { db } from '@db/config';
import NewEvent from '@src/components/forms/NewEvent.svelte';
import Main from '@src/layouts/Main.astro';
import '@src/styles/global.css';

const sports = await db.query.sport.findMany({});
const championships = await db.query.championship.findMany({});
const teams = await db.query.team.findMany({ with: { teamToChampionships: true } });
const locations = await db.query.location.findMany({});

if (Astro.request.method === 'POST') {
	try {
		const data = await Astro.request.formData();
		console.log(data);
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}
---

<Main title="Nouvelle Equipe">
	<NewEvent client:load {sports} {championships} {teams} {locations} />
</Main>
