---
import { isEventTeam, isEventPlayer, isEventGeneric } from '@db/types';
import Main from '@src/Layout.astro';
import { GetEvent } from '@db/queries/Event';

const { id } = Astro.params;
if (!id) return new Response(null, { status: 400 });

const event = await GetEvent(id);
if (!event) return new Response(null, { status: 404 });
---

<Main title="Evenement">
	{isEventTeam(event) && <>EventTeam</>}
	{isEventPlayer(event) && <>EventPlayer</>}
	{isEventGeneric(event) && <>EventGeneric</>}
</Main>
