---
import { db } from '@db/config';
import { eventType, eventTeam, eventPlayer } from '@db/schema';
import { eq } from 'drizzle-orm';
import { type Event, isEventTeam, isEventPlayer } from '@db/queries/types';
import Main from '@src/Layout.astro';

const { id } = Astro.params;
if (!id) return new Response(null, { status: 404 });

const type = await db.query.eventType.findFirst({ where: eq(eventType.eventid, id) });
if (!type) return new Response(null, { status: 404 });

let event: Event | undefined = undefined;

switch (type.type) {
	case 'Team':
		event = await db.query.eventTeam.findFirst({ where: eq(eventTeam.id, id) });
		break;
	case 'Individual':
		event = await db.query.eventPlayer.findFirst({ where: eq(eventPlayer.id, id) });
		break;
}

if (!event) {
	return new Response(null, { status: 404 });
}
---

<Main title="Evenement">
	{isEventTeam(event) && <>EventTeam</>}
	{isEventPlayer(event) && <>EventPlayer</>}
</Main>
