---
import { GetEventUnion } from '@db/queries/EventList';
import { IsAcceptJson } from '@src/lib/app/app';
import type { APIRoute } from 'astro';
import Main from '@src/Layout.astro';
import Table from '@src/components/tables/Events.svelte';

const search_ids = Astro.url.searchParams.getAll('id[]');

const events = await GetEventUnion(search_ids);

console.log(events[0]);
if (IsAcceptJson(Astro.request)) {
	return new Response(JSON.stringify(events), { status: 200, headers: { 'Content-Type': 'application/json' } });
}
---

<Main title="">
	<Table client:load {events} />
</Main>
